
  {{>postarchive}}
  <div class="copyright">
    Copyright © {{#today}}%Y{{/today}} {{blog_author}}. All rights reserved.
    Made with <a href="https://github.com/nilium/oaktree">OakTree</a>.
  </div>
  </div><!-- content -->
  </body>
</html>