<article class="post {{type}}">
  <header>
    <a href="{{url}}">
      <h3>{{#source_link?}}→ {{/source_link?}}{{title}}</h3>
    </a>
    <span class="date">{{#time}}%-d %B %Y{{/time}}</span>
  </header>
  <div class="content">
    {{{content}}}
  </div>
</article>
